//Fonts

@font-face {
  font-family: Avenir Next Regular;
  src: url(../assets/fonts/AvenirNextProLT/Regular.otf);
}

@font-face {
  font-family: Avenir Next Demi Bold;
  src: url(../assets/fonts/AvenirNextProLT/Demi.otf);
}

@font-face {
  font-family: Avenir Next Bold;
  src: url(../assets/fonts/AvenirNextProLT/Bold.otf);
}

//Mixins for Headers, Subheaders, and Paragraphs

@mixin header($font-size, $line-height) {
  font-family: Avenir Next Bold;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin subheader($font-size, $line-height) {
  font-family: Avenir Next Demi Bold;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin paragraph($font-size, $line-height) {
  font-family: Avenir Next Regular;
  font-size: $font-size;
  line-height: $line-height;
}
