//Uploads for Mobile

.uploads {
  padding: 0 1rem;
  border-top: 0.063rem solid $mercury;

  &__title {
    @include header(1.5rem, 2rem);
    color: $black;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }
}

.uploads-form {
  max-width: 25rem;
  &__image-title {
    @include subheader(0.7rem, 1.563rem);
    color: $silver;
  }
  &__thumbnail {
    border-radius: 0.25rem;
    width: 18rem;
    height: 9.563rem;
    margin-bottom: 2rem;
  }
  &__input-title--name {
    @include subheader(0.7rem, 1.563rem);
    color: $silver;
  }

  &__name-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include paragraph(0.8rem, 1.563rem);
    border: 0.078rem solid $silver;
    border-radius: 0.25rem;
    height: 2.5rem;
    width: 100%;
    background-color: $alabaster;
    padding: 0.313rem 0 0.313rem 0.625rem;
    max-width: 320px;

    &:focus {
      border-color: $brainflix-blue;
      box-shadow: none;
      outline: 0;
    }
  }

  &__input-title--description {
    @include subheader(0.7rem, 1.563rem);
    color: $silver;
  }

  &__content {
    @include paragraph(0.8rem, 1.563rem);
    border: 0.078rem solid $silver;
    border-radius: 0.25rem;
    height: 6rem;
    width: 100%;
    background-color: $alabaster;
    padding: 0.313rem 0 0.313rem 0.625rem;
    max-width: 320px;

    &:focus {
      border-color: $brainflix-blue;
      box-shadow: none;
      outline: 0;
    }
  }

  &__submit {
    @include button(12.5rem);
    @include subheader(0.85rem, 1.563rem);
    width: 100%;
    border: none;
    margin-top: 2rem;
    max-width: 320px;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $brainflix-blue-dark;
    }
  }

  &__cancel {
    @include button(12.5rem);
    @include subheader(0.85rem, 1.563rem);
    width: 100%;
    background-color: $white;
    color: $brainflix-blue;
    border: none;
    margin-top: 0.625rem;
    max-width: 320px;
    display: flex;
    justify-content: center;
  }
}

//Uploads for Tablet

@include tablet {
  .uploads {
    padding: 0 2rem;
    &__title {
      @include header(1.75rem, 2rem);
      border-bottom: 0.063rem solid $mercury;
      padding-bottom: 2rem;
    }
  }
  .uploads-form {
    max-width: 62.5rem;
    padding-top: 1.875rem;
    &__image-title {
      @include subheader(0.9rem, 1.563rem);
    }
    &__thumbnail {
      width: 21.5rem;
      height: 11.438rem;
      margin-bottom: 3.125rem;
    }
    &__input-title--name {
      @include subheader(0.8rem, 1.563rem);
    }

    &__name {
      max-width: 768px;
    }

    &__input-title--description {
      @include subheader(0.8rem, 1.563rem);
    }

    &__content {
      max-width: 768px;
    }

    &__form {
      border-bottom: 0.063rem solid $mercury;
      padding-bottom: 2.188rem;
    }

    &__buttons {
      display: flex;
      flex-direction: row-reverse;
    }

    &__submit {
      width: 10rem;
    }

    &__cancel {
      width: 10rem;
      padding-top: 1.875rem;
    }
  }
}

//Uploads for Desktop

@include desktop {
  .uploads {
    padding: 0 11.25rem;
  }

  .uploads-form {
    max-width: 93.75rem;
    &__form {
      border-bottom: 0.063rem solid $white;
    }

    &__desktop-wrapper {
      display: flex;
      flex-direction: row;
      border-bottom: 0.063rem solid $mercury;
    }
    &__thumbnail-wrapper {
      display: flex;
      flex-direction: column;
    }
    &__form-wrapper {
      display: flex;
      flex-direction: column;
      padding-left: 1.5rem;
    }

    &__input-title--name {
      padding-bottom: 0.125rem;
    }

    &__name {
      width: 44.375rem;
    }

    &__input-title--description {
      padding-bottom: 0.125rem;
    }

    &__content {
      width: 44.375rem;
      height: 5.875rem;
      margin-top: -1.188rem;
    }
  }
}
