//Comments List (Default Comments) for Mobile

.comments-list {
  padding: 0;
  padding: 0.7rem 1rem 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;

  &__top-row {
    display: flex;
    flex-direction: row;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
  }

  &__name-wrapper {
    @include subheader(0.625rem, 0.75rem);
    margin: 0;
    padding-left: 0.9rem;
  }

  &__date-wrapper {
    @include paragraph(0.7rem, 0.625rem);
    color: $silver;
    margin: 0;
    margin-left: auto;
  }
  &__image {
    width: 45px;
    height: 45px;
  }
  &__image-wrapper {
    // width: 100%;
    // margin-top: -2.5rem;
  }

  &__content-wrapper {
    width: 100%;
    margin: 0;
    padding-left: 3.7rem;
    padding-bottom: 25px;
    @include paragraph(0.85rem, 1.125rem);
    border-bottom: 0.063rem solid $mercury;
  }
}

//Comments List (Default Comments) for Tablet
@include tablet {
  .comments-list {
    padding: 1.5rem 1.5rem 0;

    &__item {
      max-width: 600px;
    }

    &__image-wrapper {
      padding: 5px 0 0 5px;
    }

    &__name-wrapper {
      @include subheader(0.75rem, 0.75rem);
      padding-top: 5px;
    }
    &__date-wrapper {
      @include paragraph(0.85rem, 0.625rem);
      padding-top: 0.188rem;
      margin-left: 1.25rem;
    }
    &__content-wrapper {
      @include paragraph(0.938rem, 1.5rem);
      padding-left: 4rem;
    }
  }

  //Comments List (Default Comments) for Desktop
  @include desktop {
    .comments-list {
      padding: 0;
      padding-left: 11.25rem;

      &__item {
        padding-top: 1rem;
        // max-width: 1400px;
      }
    }
  }
}
